*{
 margin:0;
 padding:0;
}

body{
height: 100vh;
width: 100%;
background-image: url(./image/bg.jpg);
background-size: cover;
background-position:center;
}

.menubar{
background-color:rgb(108 206 245);
text-align:center;
}

.menubar ul li{

 display: inline-block;
 width: 120px;
 margin:0 35px;
 padding-top: 25px;
 padding-bottom: 25px;
 cursor: pointer;
 transition: all.2s;
}

.menubar ul li a{
  text-decoration: none;
  color: #fff;
  font-weight:600;
}



.active,
.menubar ul li:hover{
 background-color:rgb(177, 208, 234);
}

.submenu-1{
  position: absolute;
  background-color:rgb(108 206 245);
  margin-top:25px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;
}

.menubar ul li:hover .submenu-1{
  display: block;
}

.menubar ul li:hover .submenu-1 ul li {
  display: block;
  width: 140px;
  border-bottom: 1px dotted white;
}

.menubar ul li:hover  
.submenu-1 ul li:last-child{
  border: none;
}